{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static '/page_for_testing/book.png' %}" type="image/x-icon">
    <title>SimbirSoft {% block title %}{% endblock %}</title>
  </head>
  <body>
    <div id = "main_div">
      {% block body %}

      {% endblock %}
    </div>
  </body>
</html>
<style>
#main_div{
      border: 1px solid black;
      float: left;
      width: 48%;
      padding: 3%;
      margin-left: 24%;
      margin-top: 6%;
      box-shadow: 0 0 26px rgb(25 0 0 / 50%);
}
.checkbox{
  vertical-align: middle;
}
</style>
