{% extends 'page_for_testing/head_for_page.html' %}
{% block title %}
  вопрос № {{ number_question }}
{% endblock %}
{% block body %}
  <h1 align="center" style = "    margin-top: -4%;"> Вопрос №{{ data.uuid }} </h1>
  {{ data.text }}<br/>
  <form>
  {% for a in data.choices %}
    {% if a.uuid in AnswerDTO.choices %}
      {{ a.uuid }} ) <input type = "checkbox" name = "{{ a.uuid }}" checked class = "checkbox" > {{ a.text }}  <br/>
    {% else %}
      {{ a.uuid }} ) <input type = "checkbox" name = "{{ a.uuid }}" class = "checkbox"> {{ a.text }} <br/>
    {% endif %}

  {% endfor %}
<div style = "text-align:center;    margin-top: 4%;">
  {% if old_url != "" %}

  <a href = "{{ old_url }}">
    <input type="button"  value = "Предыдущий вопрос" >
  </a>

  {% endif %}


  <input type="submit"  value = "{{ text_next_url }}" formaction = "{{ next_url }}">

</div>
{% endblock %}
