{% extends 'page_for_testing/head_for_page.html' %}

{% block title %}
  Результаты
{% endblock %}

{% block body %}

    <p>
      Ваш результат {{result}}
      </p>
    <a href="/requestsF0">
          <input type = "button" value = "Пройти тест ещё раз" >
    </a>
  <p>


{% endblock %}
