{% extends 'page_for_testing/head_for_page.html' %}

{% block title %}
  Стартовая страница
{% endblock %}

{% block body %}
<h3 align= "center" style = "    margin-top: 0px;   margin-bottom: -14px;">Добро пожаловать!</h3>
<p style = "    font: 12pt sans-serif;"><br/> Текущее время  {{ time_hours }}:{{ minutes }} <br/>
  Предлагаем вам пройти тест по теме Python django <br/>это займёт не больше 5 минут <br/>
    <a href="/requestsF0">
          <input type = "button" value = "Пройти тест" style = "margin-top: 5%;  margin-left: 38%;">
    </a>
  <p>


{% endblock %}
